<div class="card shadow mb-4">
  <div class="card-body">
    <p>No Collection Found</p>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#modalCollection"
    >
      <i class="fas fa-plus"></i> Create Collection
    </button>
  </div>
</div>

<%- include('modal_collection') %> <%- include('edit_modal_collection') %> <%-
include('../../partials/js') %>
